<h1>Editing blogpost</h1>

<div class="row" id="form">
    <div class="span6">
        <%= form_for :blogpost, :url => blogpost_path(@blogpost), :method => :patch do |f| %>
            <% if @blogpost.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@blogpost.errors.count, "error") %> prohibited
                        this blogpost from being saved:</h2>
                    <ul>
                        <% @blogpost.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <%= f.label :title, :maxlength => "254" %>
            <%= f.text_field :title %>

            <%= f.label :body %>
            <%= f.text_area :body, :class => "input input-area" %>

            <%-%>
            <br>
            <%= f.submit "Update Post", :class => "btn btn-large btn-primary" %>
        <% end %>
    </div>
</div>