<div class="page-header">
    <h1>Robin Smith Software Blog</h1>
</div>

<div class="span6">
    <%= form_for :blogpost, :url => blogposts_path do |f| %>

        <% @blogposts.each do |blogpost| %>
            <div class="col-md-6">
            <p>
                <div class="page-header">
                    <h2><%= blogpost.title %><br><small><%= blogpost.created_at.strftime("%Y-%m-%d") %></small></h2>
                </div>
            </p>
            <p>
                <%= "#{blogpost.preview} ..." %>
                <%= link_to 'Show', blogpost_path(blogpost) %></td>
            </p>
            </div>
        <% end %>
    <% end %>
</div>


<%= render 'blogposts/admin' if !user_signed_in? %>