<h1>New Blog Post</h1>

<div class="row" id="form">
  <div class="span6">
    <%= form_for :blogpost, :url => blogposts_path do |f| %>

        <p>
            <%= f.label :title, :maxlength => "254"%>
            <%= f.text_field :title %>
        </p>

        <p>
            <%= f.label :body %>
            <%= f.text_area :body, :class => "wide"%>
        </p>

        <p>
            <%= f.submit "Create Post", :class => "btn btn-large btn-primary wide" %>
        </p>
    <% end %>
  </div>
</div>