<div class="page-header">
    <h1>Signup!</h1>
</div>

<%= form_for :user, :url => users_path do |f| %>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <%= f.label :email %>
                <br>
                <%= f.text_field :email, :class => 'user-input' %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <%= f.label :password %>
                <br>
                <%= f.password_field :password, :class => 'user-input' %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <%= f.label "" %>
                <br>
                <%= f.submit "Sign Up!", :class => "btn btn-large btn-primary user-input" %>
            </div>
        </div>
    </div>
<% end %>