!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / <title><haml_loud> content_for?(:title) ? yield(:title) : &quot;Rails Bootstrap&quot; </haml_loud></title>
    %title Robin Smith Software™
    %meta{:content => content_for?(:description) ? yield(:description) : "Rails Bootstrap", :name => "description"}/
    = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      .container
        / <haml_loud> link_to &quot;Back&quot;, &quot;#&quot;, :onclick =&gt; &quot;history.back()&quot;, :class =&gt; &quot;btn back-btn&quot; </haml_loud>
        = yield
    #myModal.modal.fade
      / modal-sm or modal-lg can be used here
      .modal-dialog
        .modal-content
          / Modal Header
          .modal-header
            %button.close{"data-dismiss" => "modal", :type => "button"} ×
            %h4.modal-title Login
          / Modal Body
          .modal-body
            = form_for :user, :url => {:controller => 'auth', :action => "login"}, :html => {:method => "get"} do |f|
              .form-group
                .row
                  .col-md-4
                    = f.label :email
                    %br/
                    = f.text_field :email, :class => "full-width"
                  .col-md-4
                    = f.label :password
                    %br/
                    = f.password_field :password, :class => "full-width"
                  .col-md-4
                    = f.label ""
                    %br/
                    = f.submit "Login", :class => "btn btn-primary full-width"
    %nav.navbar.navbar-default.navbar-fixed-bottom
      .container
        %ul.nav.navbar-nav
          %li
            %a Robin Smith (2014)
        - if user_signed_in?
          .collapse.navbar-collapse
            %ul.nav.navbar-nav.pull-right
              %li= link_to "New Post", :controller => 'blogposts', :action => 'new'
              %li= link_to "Admin", :controller => 'blogposts', :action => 'admin'
