!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / <title><haml_loud> content_for?(:title) ? yield(:title) : &quot;Rails Bootstrap&quot; </haml_loud></title>
    %title Robin Smith Software™
    %meta{:content => content_for?(:description) ? yield(:description) : "Rails Bootstrap", :name => "description"}/
    = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'

      #wrap
        .container
          .page-header

          = yield

        #push

      -##footer
      -#  .container
      -#    %h1 hello


      = render 'wanker'



      = render 'navigation_bottom'