!! Strict

%html
%head
    %meta {:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Robin Smith Software
    %meta {:name => "description", :content => "= content_for?(:description) ? yield(:description) : 'RailsBootstrap'>"}
    = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

%body
%header
    = render 'layouts/navigation'

%main{:role => "main"}
    = render 'layouts/messages'
    .container
        = yield


.modal.fade{:id => "myModal"}
    .modal-dialog

        .modal-content

            -# Modal Header
            .modal-header
                %button{:type=>"button", :class=>"close", "data-dismiss"=>"modal"}
                %h4{:class=>"modal-title"}

            -#Modal Body
            .modal-body
                =form_for :user, :url => {:controller => 'auth', :action => "login"}, :html => {:method => "get"} do |f|
                    .form-group
                        .row
                            .col-md-4
                                = f.label :email
                                %br?
                                = f.text_field :email, :class => "full-width"

                            .col-md-4
                                = f.label :password
                                %br/
                                = f.password_field :password, :class => "full-width"

                            .col-md-4
                                = f.label ""
                                %br/
                                = f.submit "Login", :class => "btn btn-primary full-width"



%nav{:class => "navbar navbar-default navbar-fixed-bottom"}
    .container
        %ul{:class=>"nav navbar-nav"}
            %li
                %a Robin Smith (2014)

        - if user_signed_in?
            .collapse.navbar-collapse
                %ul{:class=>"nav navbar-nav pull-right"}
                    %li
                    = link_to "New Post", :controller => 'blogposts', :action => 'new'
                    = link_to "Admin", :controller => 'blogposts', :action => 'admin'