<!DOCTYPE html>
<html>
<head>
  <title>Robin Smith Software&#8482</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico' %>
</head>
<body class="page-margin standard-padding">

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container standard-padding">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Robin Smith Software&#8482</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Blog", '/blogposts'%></li>
          <li><%= link_to "Programming", '/programming'%></li>
          <li><%= link_to "CV", '/cv'%></li>
        </ul>
        <ul class="nav pull-right standard-padding">
          <li><%= link_to "Login", '/login'%></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<%= yield %>

</body>
</html>
