<<<<<<< HEAD
!! Strict

%html
%head
    %meta {:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Robin Smith Software
    %meta {:name => "description", :content => "= content_for?(:description) ? yield(:description) : 'RailsBootstrap'>"}
    = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

%body
%header
    = render 'layouts/navigation'

%main{:role => "main"}
    = render 'layouts/messages'
    .container
        = yield


.modal.fade{:id => "myModal"}
    .modal-dialog

        .modal-content

            -# Modal Header
            .modal-header
                %button{:type=>"button", :class=>"close", "data-dismiss"=>"modal"}
                %h4{:class=>"modal-title"}

            -#Modal Body
            .modal-body
                =form_for :user, :url => {:controller => 'auth', :action => "login"}, :html => {:method => "get"} do |f|
                    .form-group
                        .row
                            .col-md-4
                                = f.label :email
                                %br?
                                = f.text_field :email, :class => "full-width"

                            .col-md-4
                                = f.label :password
                                %br/
                                = f.password_field :password, :class => "full-width"

                            .col-md-4
                                = f.label ""
                                %br/
                                = f.submit "Login", :class => "btn btn-primary full-width"



%nav{:class => "navbar navbar-default navbar-fixed-bottom"}
    .container
        %ul{:class=>"nav navbar-nav"}
            %li
                %a Robin Smith (2014)

        - if user_signed_in?
            .collapse.navbar-collapse
                %ul{:class=>"nav navbar-nav pull-right"}
                    %li
                    = link_to "New Post", :controller => 'blogposts', :action => 'new'
                    = link_to "Admin", :controller => 'blogposts', :action => 'admin'
=======
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / <title><haml_loud> content_for?(:title) ? yield(:title) : &quot;Rails Bootstrap&quot; </haml_loud></title>
    %title Robin Smith Software™
    %meta{:content => content_for?(:description) ? yield(:description) : "Rails Bootstrap", :name => "description"}/
    = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'navigation'
    %main{:role => "main"}
      = render 'messages'

      #wrap
        .container
          .page-header

          = yield

        #push

      -##footer
      -#  .container
      -#    %h1 hello



      = render 'wanker'


      = render 'navigation_bottom'
>>>>>>> 602125a1663f97a556f34cd8f8be944861cff0d9
